<h1>Tareas</h1>
<hr/>

<table class="listing">
  <thead>
    <tr>
      <th>Incidencia</th>
      <th>Tarea</th>
      <th>Estado</th>
      <th colspan="2">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.ticket_id, ticket_path(Ticket.find(task.ticket_id).id) %></td>
        <td><%= task.description %></td>
        <td><%= Urgency.find(task.urgency_id).level %></td>
        <td><%= link_to 'Editar', edit_task_path(task) %></td>
        <td><%= link_to 'Eliminar', task, method: :delete, data: { confirm: '¿Seguro que deseas eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

