<div class="element">
  <div class="data">
      <p><strong>Resource:</strong>
      <%= @booking.resource.name %></p>
  </div>

  <div class="data">
      <p><strong>User:</strong>
      <%= @booking.user.name %></p>
  </div>

  <div class="data">
    <p><strong>Fecha inicio:</strong>
    <%= @booking.start %></p>
  </div>

  <div class="data">
    <p><strong>Fecha fin:</strong>
    <%= @booking.end %></p>
  </div>
  <%= link_to 'Editar', edit_booking_path(@booking) %> |
  <%= link_to 'Volver', bookings_path %>
</div>
