<%= form_for(@ticket, html: { class: 'formikation' }) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id, :value => "#{current_user.name} #{current_user.surname}" %>
  </div>
  <div class="field">
    <%= f.label :urgency %>
    <%= f.select :urgency_id, options_for_select(Urgency.all.map{ |u| [u.level, u.id] }) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
