<h1>Bienvenido</h1>
<p>Últimos cambios:</p>

<div class="last-updates">

  <div class="last-update">
    <p>Última reserva</p>
    <% @bookings.each do |booking| %>
      <p><%= "#{booking.resource.name}" %></p>
      <p><%= "#{booking.start.day}/#{booking.start.month} al #{booking.end.day}/#{booking.end.month}" %></p>
    <% end %>
  </div>

  <div class="last-update">
    <p>Última incidencia agregada</p>
    <% @tickets.each do |ticket| %>
      <p><%= "#{ticket.title}" %></p>
    <% end %>
  </div>

  <div class="last-update">
    <p>Último recurso agregado</p>
    <% @resources.each do |resource| %>
      <p><%= "#{resource.name}" %></p>
    <% end %>
  </div>


  <div class="last-update">
    <p>Último usuario agregado</p>
    <% @users.each do |user| %>
      <p><%= "#{user.name} #{user.surname}" %></p>
    <% end %>
  </div>

</div>
