<h1>Bienvenido</h1>
<p>Últimos cambios:</p>

<div class="last-updates">

  <div class="last-update">
    <p>Última reserva</p>
    <p><%= "#{@booking.resource.name}" %></p>
    <p><%= "#{@booking.start.day}/#{@booking.start.month} al #{@booking.end.day}/#{@booking.end.month}" %></p>
  </div>

  <div class="last-update">
    <p>Última incidencia agregada</p>
    <p><%= "#{@ticket.title}" %></p>
  </div>

  <div class="last-update">
    <p>Último recurso agregado</p>
    <p><%= "#{@resource.name}" %></p>
  </div>


  <div class="last-update">
    <p>Último usuario agregado</p>
    <p><%= "#{@user.name} #{@user.surname}" %></p>
  </div>

</div>
