<!DOCTYPE html>
<html>
<head>
  <title>Narantic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <% if user_signed_in? %>
      <div class="wrapper">
        <ul>
          <li><%= link_to 'Mi cuenta', '#' %></li>
          <li><%= link_to 'Cerrar sesión', destroy_user_session_path(current_user), :method => :delete %></li>
        </ul>
      </div>
    <% end %>
  </div>
  <header>
    <div class="wrapper">
      <h1><%= link_to 'Narantic', main_path %></h1>
      <nav id="menu">
        <ul>
          <li><%= link_to 'Reservas', bookings_path %></li>
          <li><%= link_to 'Incidencias', tickets_path %></li>
          <% if user_signed_in? && current_user.is_user_admin? %>
            <li><%= link_to 'Recursos', resources_path %></li>
            <li><%= link_to 'Roles', roles_path %></li>
            <li><%= link_to 'Urgencias', urgencies_path %></li>
            <li><%= link_to 'Usuarios', users_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <div class="content">
    <div class="wrapper">
      <% flash.each do |name, message| %>
        <%= content_tag(:div, message, class: 'alert') %>
      <% end %>
      <%= yield %>
    </div>
  </div>
  <div class="footer">
    <div class="wrapper">
      <p>Narantic 2015</p>
    </div>
  </div>
</body>
</html>
