<!DOCTYPE html>
<html>
<head>
  <title>Narantic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id="menu">
    <ul>
      <li>Reservar recursos</li>
      <li>Reservar aulas</li>
      <li>Crear incidencia</li>
    </ul>
  </nav>
  <div class="content">
    <% flash.each do |name, message| %>
      <%= content_tag(:div, message, class: 'alert') %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
