<!DOCTYPE html>
<html>
<head>
  <title>Narantic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id="menu">
    <ul>
      <li><%= link_to 'Efectuar reserva', resources_path %></li>
      <li><%= link_to 'Incidencias', tickets_path %></li>
      <% if user_signed_in? %>
        <%= @level_access = Role.find_by(id: current_user.role_id).role %>
        <% if @level_access.eql? 'admin' %>
          <li><%= link_to 'Gestionar recursos', resources_path %></li>
          <li><%= link_to 'Gestionar roles', roles_path %></li>
          <li><%= link_to 'Gestionar urgencias', urgencies_path %></li>
        <% end %>
      <% end %>
    </ul>
  </nav>
  <div class="content">
    <% flash.each do |name, message| %>
      <%= content_tag(:div, message, class: 'alert') %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
