<!DOCTYPE html>
<html>
<head>
  <title>Narantic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar"></div>
  <nav id="menu">
    <ul class="wrapper">
      <li><%= link_to 'Efectuar reserva', resources_path %></li>
      <li><%= link_to 'Incidencias', tickets_path %></li>
      <% if user_signed_in? && is_user_admin? %>
        <li><%= link_to 'Gestionar recursos', resources_path %></li>
        <li><%= link_to 'Gestionar roles', roles_path %></li>
        <li><%= link_to 'Gestionar urgencias', urgencies_path %></li>
      <% end %>
    </ul>
  </nav>
  <div class="content">
    <div class="wrapper">
      <% flash.each do |name, message| %>
        <%= content_tag(:div, message, class: 'alert') %>
      <% end %>
      <%= yield %>
    </div>
  </div>
  <div class="footer">
    <div class="wrapper">
      <p>Narantic 2015</p>
    </div>
  </div>
</body>
</html>
